#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

test/testdata/example_projects/*

# Mac files
.DS_store

# Misc.
!.gitkeep
!.keep
.idea
.vscode
**/tags

# compiled files
/build/*
